rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    match /albums/{userId}/{photoId} {
      allow read: if true;
      allow write: if isSignedIn() && request.auth.uid == userId;
    }

    // Voice notes for direct messages
    match /voiceNotes/{conversationId}/{filename} {
      allow read: if isSignedIn();
      allow write: if isSignedIn();
    }

    // Status images
    match /statuses/{userId}/{filename} {
      allow read: if true;
      allow write: if isSignedIn() && request.auth.uid == userId;
    }

    match /{allPaths=**} {
      allow read: if false;
      allow write: if false;
    }
  }
}
